@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  html {
    font-family: 'DM Sans', sans-serif !important;
    font-feature-settings: 'kern' !important;
    -webkit-font-smoothing: antialiased;
    letter-spacing: -0.5px;
  }
}

input.defaultCheckbox::before {
  content: url(/svg/checked.svg);
  color: white;
  opacity: 0;
  height: 16px;
  width: 16px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0px);
}

input:checked.defaultCheckbox::before {
  opacity: 1;
}

/* SCROLLBAR */
/* Width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px gray;
  border-radius: 50px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #EF4444;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #868CFF;
  cursor: pointer;
}

/* END SCROLLBAR */

.gm-style iframe+div {
  border: none !important;
}

@layer utilities {

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
}

/* HTML: <div class="ribbon">Your text content</div> */
.ribbon {
  font-size: 28px;
  font-weight: bold;
  color: #fff;
}

.ribbon {
  font-size: 28px;
  font-weight: bold;
  color: #fff;
  padding: 12px;
  border-left: 8px solid #0005;
  border-bottom: 16px solid #0000;
  clip-path: polygon(8px 0,
      100% 0,
      100% calc(100% - 16px),
      calc(50% + 4px) 100%,
      8px calc(100% - 16px),
      8px 8px,
      0 8px);
}

/* HTML: <div class="cloud"></div> */
.cloud {
  height: 100%;
  margin-left: 45%;
  margin-bottom: -5%;
  aspect-ratio: 1.8;
  --g: radial-gradient(50% 50% at center center, #000 98%, #0000) no-repeat;
  mask: var(--g) 100% 100%/30% 60%, var(--g) 70% 0/50% 100%, var(--g) 0 100%/36% 68%, var(--g) 27% 18%/26% 40%, linear-gradient(#000 0 0) bottom/67% 58% no-repeat;
  background: #ffffff;
}

/* Hide default calendar icon */
.hide-calendar-icon::-webkit-calendar-picker-indicator {
  display: none;
}

.hide-calendar-icon::-moz-calendar-picker-indicator {
  display: none;
}

.hide-calendar-icon::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

/* Hide default input spin button */
.no-spin-button {
  appearance: none;

  /* Chrome, Safari, Edge */
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  -moz-appearance: textfield;
}